#Homepage{
  
    padding-left: 0;
    padding-top: 30px;
    
    color: #ffffff;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.HomeCol1{
    
    flex-basis:0 0 35%;
    text-align: left;

}
.HomeCol1 img{

    max-width: 100%;
    height: 500px;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}
.HomeCol1 img:hover{
    transform: scale(1.1);
}
.HomeCol2{
    padding-top: 60px;
    flex-basis: 58%;
}

.HomeCol2 p{
    font-size: 80px;
    color: rgba(37, 235, 136, 0.651);
}
